
<div class="container">
  <h1>reactive form</h1>
  <form [formGroup]="form_group" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>
    <div class="form-group row">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email">
    </div>
    <div class="form-group row">
      <label for="phone">Phone:</label>
      <input type="tel" class="form-control" id="phone" formControlName="phone">
    </div>

    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>
</div>
