<form [formGroup]="form_group" (ngSubmit)="onSubmit()">

  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="first_name"><br><br>
  <div class="alert alert-danger" *ngIf="!form_group.controls.first_name?.valid &&
  (form_group.controls.first_name?.touched)">
  nigga enter correct shit
  </div>

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="last_name">
  <div class="alert alert-danger" *ngIf="!form_group.controls.last_name?.valid &&
    (form_group.controls.last_name?.touched)">
    nigga enter correct shit
  </div><br><br>

  <label for="prn">prn: </label>
  <input id="prn" type="text" formControlName="prn">
  <div class="alert alert-danger" *ngIf="!form_group.controls.prn?.valid &&
    (form_group.controls.prn?.touched)">
    Nigga enter correct shit.
  </div>

  <button routerLink="/{{route}}">Click me</button>

  <p>{{ route | json }} {{form_group.value | json}}</p>

  <button type="submit" [disabled]="!form_group.valid">Submit</button>
</form>
